### Libraries

In [69]:
import pandas as pd

### Datasets

In [70]:
data_DA = pd.read_csv('datas/GLASSDOOR_DA_LASTMONTH.csv', encoding_errors='ignore')
data_DE = pd.read_csv('datas/GLASSDOOR_DE_LASTMONTH.csv', encoding_errors='ignore')
data_DS = pd.read_csv('datas/GLASSDOOR_DS_LASTMONTH.csv', encoding_errors='ignore')

In [71]:
#Drop the first row
data_DA = data_DA.drop(data_DA.index[0])
data_DS = data_DS.drop(data_DS.index[0])

In [72]:
# append the dataframes
data = pd.concat([data_DA,data_DE], ignore_index=True)
data = pd.concat([data,data_DS], ignore_index=True)

data.shape

(2366, 10)

In [73]:
columns = data.columns
columns.tolist()

['companyName',
 'company_starRating',
 'company_offeredRole',
 'company_roleLocation',
 'headquarters',
 'size',
 'type',
 'revenue',
 'listing_jobDesc',
 'requested_url']

In [74]:
data_3 = pd.read_csv("datas/Glassdoor_Skills_Analysis_no_duplicates.csv", encoding_errors='ignore')

In [75]:
data_3.columns

Index(['Unnamed: 0', 'company_offeredRole', 'size', 'type', 'revenue',
       'listing_jobDesc', 'requested_url', 'Search_keyword', 'Company_Rating',
       'Job_Description', 'Job_Name', 'Company_Name', 'Company_RoleLocation',
       'Company_Headquarters', 'clustering_naif_keywords', 'Data Scientist',
       'Data Analyst', 'Data Engineer', 'Data Science', 'Consistent_Offer',
       'Job_Description_lemmatized', 'skills', 'skills_list'],
      dtype='object')

In [76]:
columns = ['Company_Name','Company_Rating','company_offeredRole','Company_RoleLocation', 'Company_Headquarters', 'size', 'type', 'revenue',
       'listing_jobDesc', 'requested_url', 'skills']

In [77]:
data_3[columns].head()

,Company_Name,Company_Rating,company_offeredRole,Company_RoleLocation,Company_Headquarters,size,type,revenue,listing_jobDesc,requested_url,skills
0,euro information developpements,4.2,Data Engineer (H/F),dijon,strasbourg,10000+ Employees,Company - Public,Unknown / Non-Applicable,\nLaccompagnement de tous par notre organisat...,https://www.glassdoor.com/partner/jobListing.h...,"['nosql', 'server', 'framework', 'scikit learn..."
1,casden banque populaire,3.9,DATA ENGINEER F/H,champs sur marne,NaN,10000+ Employees,Company - Public,Unknown / Non-Applicable,Construction du socle de données ; Alimentatio...,https://www.glassdoor.com/partner/jobListing.h...,"['monitoring', 'business', 'database', 'shell']"
2,cs group,3.4,Ingénieur Data Gouvernance - F/H,toulouse,NaN,1001 to 5000 Employees,Company - Private,$100 to $500 million (USD),Participer à lorganisation des procédures de ...,https://www.glassdoor.com/partner/jobListing.h...,"['documentation', 'business']"
3,valeo,3.6,Test & Validation Engineer Trainee,bobigny,NaN,10000+ Employees,Company - Private,$10+ billion (USD),Select the right algorithms solutions\n Define...,https://www.glassdoor.com/partner/jobListing.h...,"['algorithm', 'software', 'design', 'business'..."
4,trekea sas,3.7,JUNIOR / EXPERIENCED SOFTWARE ENGINEER,NaN,NaN,Unknown,Company - Public,Unknown / Non-Applicable,Become the reference for one or more specific ...,https://www.glassdoor.com/partner/jobListing.h...,"['java', 'kubernetes', 'engineering', 'docker'..."

In [78]:
data_3["skills_list"] = data_3["skills"].str.split(",")

In [79]:
list_skills = data_3["skills_list"].tolist()
list_skills

nouvelle_liste = []
for sous_liste in list_skills:
    nouvelle_liste.extend(sous_liste)

len(set(nouvelle_liste))

176

In [80]:
import ast

# Liste des skills cibles
target_skills = ['software']

# Fonction pour filtrer les lignes
def filter_skills(row):
    skills = ast.literal_eval(row['skills'])
    for skill in skills:
        if skill in target_skills:
            return True
    return False

# Appliquer le filtre sur le DataFrame
filtered_df = data_3[data_3.apply(filter_skills, axis=1)]

In [81]:
filtered_df

,Unnamed: 0,company_offeredRole,size,type,revenue,listing_jobDesc,requested_url,Search_keyword,Company_Rating,Job_Description,...,Company_Headquarters,clustering_naif_keywords,Data Scientist,Data Analyst,Data Engineer,Data Science,Consistent_Offer,Job_Description_lemmatized,skills,skills_list
3,3,Test & Validation Engineer Trainee,10000+ Employees,Company - Private,$10+ billion (USD),Select the right algorithms solutions\n Define...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.600000,select right algorithms solutions define test ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,select right algorithm solution define test be...,"['algorithm', 'software', 'design', 'business'...","[['algorithm', 'software', 'design', 'busin..."
4,4,JUNIOR / EXPERIENCED SOFTWARE ENGINEER,Unknown,Company - Public,Unknown / Non-Applicable,Become the reference for one or more specific ...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.700000,become reference one specific modules solution...,...,NaN,['Data Engineer'],False,False,True,NaN,True,become reference one specific module solution ...,"['java', 'kubernetes', 'engineering', 'docker'...","[['java', 'kubernetes', 'engineering', 'doc..."
7,7,Engineering Test&Validation Team Leader,10000+ Employees,Company - Private,$10+ billion (USD),In his scope of management i.e. the team of th...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.600000,scope management ie team hil validation team l...,...,NaN,['Data Engineer'],False,False,True,NaN,True,scope management ie team hil validation team l...,"['simulation', 'collaboration', 'software', 'd...","[['simulation', 'collaboration', 'software',..."
15,15,Python Engineer - Trading,51 to 200 Employees,Company - Private,Unknown / Non-Applicable,\nUp to 120k salary plus up to 40% bonus \nHy...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,4.400000,120k salary bonus hybrid working days week re...,...,london united kingdom,['Data Engineer'],False,False,True,NaN,True,120k salary bonus hybrid working day week rem...,"['engineering', 'collaboration', 'software', '...","[['engineering', 'collaboration', 'software'..."
32,32,R&D Engineer II C++ f/m,1001 to 5000 Employees,Company - Public,$1 to $5 billion (USD),\nPerforms moderately complex development acti...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,4.200000,performs moderately complex development activi...,...,canonsburg pa,['Data Engineer'],False,False,True,NaN,True,performs moderately complex development activi...,"['algorithm', 'documentation', 'solid modeling...","[['algorithm', 'documentation', 'solid model..."
50,50,Data Analyst débutant(e) - Spotfire pour SISMA...,10000+ Employees,Company - Public,$25 to $100 million (USD),\nLa mise en place d'un lien direct entre l'ap...,https://www.glassdoor.com/partner/jobListing.h...,Data Analyst,3.900000,establishment direct link internal software ap...,...,NaN,['Data Analyst'],False,True,False,NaN,True,establishment direct link internal software ap...,"['algorithm', 'machine learning', 'software']","[['algorithm', 'machine learning', 'software']]"
75,75,Data Analyst - ALTERNANCE (H/F),5001 to 10000 Employees,Company - Public,$1 to $5 billion (USD),Recueillir les données de production issues de...,https://www.glassdoor.com/partner/jobListing.h...,Data Analyst,3.800000,collect production data sensors associated 3d ...,...,courbevoie,['Data Analyst'],False,True,False,NaN,True,collect production sensor associated 3d concre...,"['monitoring', 'software', 'metadata']","[['monitoring', 'software', 'metadata']]"
84,84,Stage ou alternance - Data Analyst Junior,10000+ Employees,Company - Public,$10+ billion (USD),Analyse des données issues du site web : parco...,https://www.glassdoor.com/partner/jobListing.h...,Data Analyst,4.000000,analysis data website user paths traffic study...,...,NaN,['Data Analyst'],False,True,False,NaN,True,analysis website user path traffic study user ...,"['medium', 'server', 'javascript', 'software',...","[['medium', 'server', 'javascript', 'softwa..."
90,90,Data Scientist,10000+ Employees,Company - Public,$10+ billion (USD),"A la croisée de deux univers, la santé et les ...",https://www.glassdoor.com/partner/jobListing.h...,Data Scientist,4.000000,crossroads two worlds health new technologies ...,...,durham nc,['Data Science'],False,False,False,True,False,crossroad two world health new technology iqvi...,"['algorithm', 'machine learning', 'artificial ...","[['algorithm', 'machine learning', 'artifici..."
99,99,ALTERNANT DATA SCIENTIST,10000+ Employees,Company - Public,$10+ billion (USD),Analyser les données pour les transformer en i...,https://www.glassdoor.com/partner/jobListing.h...,Data Scientist,4.200000,analyze data transform actionable information ...,...,munich germany,['Data Science'],False,False,False,True,False,analyze transform actionable information devel...,"['business intelligence', 'engineering', 'tabl...","[['business intelligence', 'engineering', 't..."
110,110,Data Scientist H/F - Lille,51 to 200 Employees,Private Practice / Firm,Unknown / Non-Applicable,Conception de modèles de prévision du chiffre ...,https://www.glassdoor.com/partner/jobListing.h...,Data Scientist,4.000000,design revenue forecasting models generated re...,...,NaN,['Data Science'],False,False,False,True,False,design revenue forecasting model generated ret...,"['machine learning', 'azure', 'software', 'mar...","[['machine learning', 'azure', 'software', ..."
119,119,Data Scientist Developpeur H/F,NaN,NaN,NaN,"Ingénieurs grandes écoles (groupe A/A+), avec ...",https://www.glassdoor.com/partner/jobListing.h...,Data Scientist,3.769951,high school engineers group aa without phd adv...,...,NaN,['Data Science'],False,False,False,True,False,high school engineer group aa without phd adva...,"['java', 'software', 'javascript', 'support', ...","[['java', 'software', 'javascript', 'suppor..."

In [82]:
data = data_3.copy()

In [83]:
data.head()

,Unnamed: 0,company_offeredRole,size,type,revenue,listing_jobDesc,requested_url,Search_keyword,Company_Rating,Job_Description,...,Company_Headquarters,clustering_naif_keywords,Data Scientist,Data Analyst,Data Engineer,Data Science,Consistent_Offer,Job_Description_lemmatized,skills,skills_list
0,0,Data Engineer (H/F),10000+ Employees,Company - Public,Unknown / Non-Applicable,\nLaccompagnement de tous par notre organisat...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,4.2,support everyone cooperative mutualist organiz...,...,strasbourg,['Data Engineer'],False,False,True,NaN,True,support everyone cooperative mutualist organiz...,"['nosql', 'server', 'framework', 'scikit learn...","[['nosql', 'server', 'framework', 'scikit l..."
1,1,DATA ENGINEER F/H,10000+ Employees,Company - Public,Unknown / Non-Applicable,Construction du socle de données ; Alimentatio...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.9,construction database supply preparation data ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,construction database supply preparation proje...,"['monitoring', 'business', 'database', 'shell']","[['monitoring', 'business', 'database', 'sh..."
2,2,Ingénieur Data Gouvernance - F/H,1001 to 5000 Employees,Company - Private,$100 to $500 million (USD),Participer à lorganisation des procédures de ...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.4,participate organization work procedures data ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,participate organization work procedure office...,"['documentation', 'business']","[['documentation', 'business']]"
3,3,Test & Validation Engineer Trainee,10000+ Employees,Company - Private,$10+ billion (USD),Select the right algorithms solutions\n Define...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.6,select right algorithms solutions define test ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,select right algorithm solution define test be...,"['algorithm', 'software', 'design', 'business'...","[['algorithm', 'software', 'design', 'busin..."
4,4,JUNIOR / EXPERIENCED SOFTWARE ENGINEER,Unknown,Company - Public,Unknown / Non-Applicable,Become the reference for one or more specific ...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.7,become reference one specific modules solution...,...,NaN,['Data Engineer'],False,False,True,NaN,True,become reference one specific module solution ...,"['java', 'kubernetes', 'engineering', 'docker'...","[['java', 'kubernetes', 'engineering', 'doc..."

In [84]:
#assigner au hasard une valeur a data["type_poste"] entre Data Analyst, Data Scientist et Data Engineer
import random
import numpy as np

def random_poste():
    return random.choice(["Data Analyst", "Data Scientist", "Data Engineer"])

data["type_poste"] = np.vectorize(random_poste)()

In [85]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic

def get_coordinates(city):
    geolocator = Nominatim(user_agent="distance_calculator")
    location = geolocator.geocode(city)
    if location is None:
        return None
    return location.latitude, location.longitude

def calculate_distance(city1, city2):
    coordinates1 = get_coordinates(city1)
    coordinates2 = get_coordinates(city2)
    
    if coordinates1 is None or coordinates2 is None:
        return "Impossible de trouver les coordonnées de l'une des villes."
    
    distance = geodesic(coordinates1, coordinates2).kilometers
    return distance

# Exemple d'utilisation
city1 = "Beuzeville-la-bastille"
city2 = "Auray"

distance = calculate_distance(city1, city2)
print(f"La distance entre {city1} et {city2} est d'environ {distance:.2f} kilomètres.")

GeocoderServiceError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1007)

In [ ]:
from haversine import haversine, Unit

def calculate_distance(city1, city2):
    coordinates1 = get_coordinates(city1)
    coordinates2 = get_coordinates(city2)
    
    if coordinates1 is None or coordinates2 is None:
        return 100000
    
    distance = haversine(coordinates1, coordinates2, unit=Unit.KILOMETERS)
    return distance

In [ ]:
# remove NA in company_offeredRole and company_roleLocation
data = data.dropna(subset=['company_offeredRole', 'company_roleLocation'])

In [ ]:
#drop na
data = data.dropna()

In [ ]:
data.shape

(2055, 11)

In [ ]:
# fill les na par des unknown
data = data.fillna("unknown")

In [ ]:
data.isna().sum()

companyName             0
company_starRating      0
company_offeredRole     0
company_roleLocation    0
headquarters            0
size                    0
type                    0
revenue                 0
listing_jobDesc         0
requested_url           0
type_poste              0
dtype: int64

In [ ]:
data["size"].value_counts()

10000+ Employees           943
1001 to 5000 Employees     270
1 to 50 Employees          216
201 to 500 Employees       196
501 to 1000 Employees      126
51 to 200 Employees        122
Unknown                    104
5001 to 10000 Employees     78
Name: size, dtype: int64

In [ ]:
mapping_size = {
    '10000+ Employees': 'Grande entreprise',
    '1001 to 5000 Employees': 'ETI',
    '1 to 50 Employees': 'startup',
    '201 to 500 Employees': 'PME',
    '501 to 1000 Employees': 'PME',
    '51 to 200 Employees': 'PME',
    'Unknown': 'Unknown',
    '5001 to 10000 Employees': 'Grande entreprise'
}

# Exemple d'utilisation du mapping
entreprise = '1 to 50 Employees'
categorie = mapping_size.get(entreprise, 'Non défini')

print(categorie)

startup

In [ ]:
data.shape

(2055, 11)

In [ ]:
# Filter the dataset based on the specified criteria
filtered_df = data[data.duplicated(subset=['company_roleLocation', 'company_offeredRole', 'companyName'], keep=False)]

# Print the filtered dataset
filtered_df.shape

(2049, 11)

In [ ]:
data["company_offeredRole"].value_counts()

Data Analyst H/F                                       171
Data Ingnieur (H/F)                                     59
Data Analyst dbutant(e) - Spotfire pour SISMAGE-CIG     49
Data Miner / Data Analyst H/F                           49
Data Analyst - Le Bouscat H/F                           49
                                                      ...
Alternant 12 mois  Data Analyst H/F                      1
Stage ou alternance - Data Analyst Junior                1
ALTERNANT - Data analyste                                1
Data engineer BI (H/F)                                   1
DATA ANALYST F/H                                         1
Name: company_offeredRole, Length: 93, dtype: int64

In [ ]:
data["help_drop"] = data["company_offeredRole"] + " " + data["company_roleLocation"] + " " + data["companyName"]

In [ ]:
data["help_drop"].value_counts()

Data Miner / Data Analyst H/F Bondoufle Groupement Les Mousquetaires     49
Data Analyst H/F Issy-les-Moulineaux Kenvue                              49
Data Analyst dbutant(e) - Spotfire pour SISMAGE-CIG Pau TotalEnergies    49
Data Analyst - Le Bouscat H/F Le Bouscat FIDUCIAL                        49
Data Analyst H/F Villeneuve-Loubet GROUPE IPPOLITO                       49
                                                                         ..
Alternant 12 mois  Data Analyst H/F Chilly-Mazarin Sanofi                 1
ALTERNANT - Data analyste Marignane Daher                                 1
Data Analyst H/F Levallois-Perret IVIDATA Life Sciences                   1
DATA ANALYST F/H Saint-Herblain RCA                                       1
Stage ou alternance - Data Analyst Junior Limonest EDF ENR                1
Name: help_drop, Length: 101, dtype: int64

In [ ]:
# remove duplicates if company_roleLocation, company_offeredRole and companyName are the same
data = data.drop_duplicates(subset=['help_drop'])

In [ ]:
data.shape

(101, 12)

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from geopy.distance import geodesic

df = data.copy()


# Préférences de l'utilisateur
type_poste_desire = 'Data Scientist'
ville_preferee = 'Cergy'
type_entreprise_prefere = '501 to 1000 Employees'



# Calcul de la similarité cosinus
vectorizer = TfidfVectorizer()
job_desc = df['company_offeredRole'] + ' ' + df['size'] 
user_preferences = type_poste_desire + ' ' + type_entreprise_prefere
X = vectorizer.fit_transform(job_desc.append(pd.Series(user_preferences)))
similarity_scores = cosine_similarity(X[:-1], X[-1])


# Attribution des poids aux similarités et à la distance
similarity_weight = 0.8
distance_weight = 0.2

# Création d'une nouvelle colonne pour stocker les scores de similarité
df['similarity_score'] = similarity_scores.flatten()

# Calcul de la similarité pondérée
df['weighted_similarity'] = df['similarity_score'] * similarity_weight

# trier selon la similarité et garder les 60 meilleurs résultats
df = df.sort_values(by=['weighted_similarity'], ascending=False).head(60)


# Calcul de la distance entre les villes
df['distance_en_km'] = df.apply(lambda row: calculate_distance(row["company_roleLocation"], ville_preferee), axis=1)

# Normalisation de la distance
max_distance = df['distance_en_km'].max()
df['normalized_distance'] = 1 - (df['distance_en_km'] / max_distance)

df['weighted_distance'] = df['normalized_distance'] * distance_weight
df['weighted_similarity_distance'] = df['weighted_similarity'] + df['weighted_distance']

# Tri des offres d'emploi par similarité pondérée et distance croissantes
sorted_df = df.sort_values(by=['weighted_similarity_distance', 'distance_en_km'], ascending=[False, True])

# Affichage des résultats
top_results = sorted_df.head(5)  # Vous pouvez ajuster le nombre de résultats à afficher
top_results[['company_offeredRole', 'companyName',"size","company_roleLocation", 'distance_en_km', 'weighted_similarity_distance']].head()

C:\Users\gaspa\AppData\Local\Temp\ipykernel_21652\3271319534.py:19: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X = vectorizer.fit_transform(job_desc.append(pd.Series(user_preferences)))

,company_offeredRole,companyName,company_roleLocation,distance_en_km,weighted_similarity_distance
1643,DATA SCIENTIST H/F,Gan Assurances,Nanterre,21.648015,0.773827
1641,Data Scientist (F/H),Meritis,Paris,31.649639,0.773807
1774,Data Scientist H/F,ICM Institut du Cerveau,Paris,31.649639,0.773807
1962,Alternance - Data Scientist H/F,Cramif,Paris,31.649639,0.706590
64,Data analyst junior - H/F,Damart,Roubaix,199.562241,0.667703

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from geopy.distance import geodesic

# Exemple de dataframe simplifié
df = pd.DataFrame({
    'intitule_poste': ['Développeur web', 'Data analyst', 'Ingénieur logiciel'],
    'ville_du_poste': ['Paris', 'Lyon', 'Marseille'],
    'type_entreprise': ['Start-up', 'Grande entreprise', 'Start-up'],
    'nom_entreprise': ['XYZ Company', 'ABC Corporation', 'XYZ Company'],
    'latitude': [48.8566, 45.75, 43.2965],
    'longitude': [2.3522, 4.85, 5.3698],
    'type_poste': ['CDI', 'CDD', 'CDI']
})

# Préférences de l'utilisateur
ville_preferee = 'Paris'
type_entreprise_prefere = 'Start-up'
type_poste_desire = 'CDI'

# Coordonnées géographiques de la ville choisie par l'utilisateur
user_location = (48.8566, 2.3522)  # Paris (latitude, longitude)

# Calcul de la distance entre les villes
df['distance_en_km'] = df.apply(lambda row: geodesic(user_location, (row['latitude'], row['longitude'])).km, axis=1)

# Calcul de la similarité cosinus
vectorizer = TfidfVectorizer()
job_desc = df['intitule_poste'] + ' ' + df['type_entreprise'] + ' ' + df['type_poste']
user_preferences = ville_preferee + ' ' + type_entreprise_prefere + ' ' + type_poste_desire
X = vectorizer.fit_transform(job_desc.append(pd.Series(user_preferences)))
similarity_scores = cosine_similarity(X[:-1], X[-1])

# Normalisation de la distance
max_distance = df['distance_en_km'].max()
df['normalized_distance'] = 1 - (df['distance_en_km'] / max_distance)

# Attribution des poids aux similarités et à la distance
similarity_weight = 0.8
distance_weight = 0.2

# Création d'une nouvelle colonne pour stocker les scores de similarité
df['similarity_score'] = similarity_scores.flatten()

# Calcul de la similarité pondérée
df['weighted_similarity'] = df['similarity_score'] * similarity_weight
df['weighted_distance'] = df['normalized_distance'] * distance_weight
df['weighted_similarity_distance'] = df['weighted_similarity'] + df['weighted_distance']

# Tri des offres d'emploi par similarité pondérée et distance croissantes
sorted_df = df.sort_values(by=['weighted_similarity_distance', 'distance_en_km'], ascending=[False, True])

# Affichage des résultats
top_results = sorted_df.head(5)  # Vous pouvez ajuster le nombre de résultats à afficher
top_results[['intitule_poste', 'nom_entreprise', 'distance_en_km', 'weighted_similarity_distance']].head()

C:\Users\gaspa\AppData\Local\Temp\ipykernel_21652\10550173.py:32: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X = vectorizer.fit_transform(job_desc.append(pd.Series(user_preferences)))

,intitule_poste,nom_entreprise,distance_en_km,weighted_similarity_distance
0,Développeur web,XYZ Company,0.000000,0.565402
2,Ingénieur logiciel,XYZ Company,660.493269,0.365402
1,Data analyst,ABC Corporation,393.607816,0.080814