### Libraries

In [1]:
import pandas as pd

### Datasets

In [10]:
data_DA = pd.read_csv('datas/GLASSDOOR_DA_LASTMONTH.csv', encoding_errors='ignore')
data_DE = pd.read_csv('datas/GLASSDOOR_DE_LASTMONTH.csv', encoding_errors='ignore')
data_DS = pd.read_csv('datas/GLASSDOOR_DS_LASTMONTH.csv', encoding_errors='ignore')

In [2]:
ddddd = pd.read_csv('datas/pitie.csv', encoding_errors='ignore')

In [13]:
data_DA["POSTE"] = "DATA ANALYST"
data_DE["POSTE"] = "DATA ENGINEER"
data_DS["POSTE"] = "DATA SCIENTIST"

In [15]:
# append dataframes using concat
ddddd = pd.concat([data_DA, data_DE, data_DS, ddddd], ignore_index=True)

In [18]:
ddddd.shape

(2877, 13)

In [19]:
# nb de lignes dupliquées
ddddd.duplicated().sum()

2

In [20]:
ddddd["help_drop"] = ddddd["company_offeredRole"] + " " + ddddd["company_roleLocation"] + " " + ddddd["companyName"] + " " + ddddd["listing_jobDesc"]

In [21]:
ddddd.drop_duplicates(subset ="help_drop").shape

(297, 13)

In [22]:
ddddd.to_csv('datas/CAMILLECLUSTERING.csv', index=False)

In [4]:
ddddd.columns

Index(['companyName', 'company_starRating', 'company_offeredRole',
       'company_roleLocation', 'headquarters', 'size', 'type', 'revenue',
       'listing_jobDesc', 'requested_url', 'Unnamed: 10', 'POSTE'],
      dtype='object')

In [66]:
#Drop the first row
data_DA = data_DA.drop(data_DA.index[0])
data_DS = data_DS.drop(data_DS.index[0])

In [67]:
# append the dataframes
data = pd.concat([data_DA,data_DE], ignore_index=True)
data = pd.concat([data,data_DS], ignore_index=True)

data.shape

(2366, 10)

In [68]:
columns = data.columns
columns.tolist()

['companyName',
 'company_starRating',
 'company_offeredRole',
 'company_roleLocation',
 'headquarters',
 'size',
 'type',
 'revenue',
 'listing_jobDesc',
 'requested_url']

In [69]:
data_3 = pd.read_csv("datas/Glassdoor_Skills_Analysis_no_duplicates.csv", encoding_errors='ignore')

In [70]:
data_3.columns

Index(['Unnamed: 0', 'company_offeredRole', 'size', 'type', 'revenue',
       'listing_jobDesc', 'requested_url', 'Search_keyword', 'Company_Rating',
       'Job_Description', 'Job_Name', 'Company_Name', 'Company_RoleLocation',
       'Company_Headquarters', 'clustering_naif_keywords', 'Data Scientist',
       'Data Analyst', 'Data Engineer', 'Data Science', 'Consistent_Offer',
       'Job_Description_lemmatized', 'skills', 'skills_list'],
      dtype='object')

In [71]:
columns = ['Company_Name','Company_Rating','company_offeredRole','Company_RoleLocation', 'Company_Headquarters', 'size', 'type', 'revenue',
       'listing_jobDesc', 'requested_url', 'skills']

In [72]:
data_3[columns].head()

,Company_Name,Company_Rating,company_offeredRole,Company_RoleLocation,Company_Headquarters,size,type,revenue,listing_jobDesc,requested_url,skills
0,euro information developpements,4.2,Data Engineer (H/F),dijon,strasbourg,10000+ Employees,Company - Public,Unknown / Non-Applicable,\nLaccompagnement de tous par notre organisat...,https://www.glassdoor.com/partner/jobListing.h...,"['nosql', 'server', 'framework', 'scikit learn..."
1,casden banque populaire,3.9,DATA ENGINEER F/H,champs sur marne,NaN,10000+ Employees,Company - Public,Unknown / Non-Applicable,Construction du socle de données ; Alimentatio...,https://www.glassdoor.com/partner/jobListing.h...,"['monitoring', 'business', 'database', 'shell']"
2,cs group,3.4,Ingénieur Data Gouvernance - F/H,toulouse,NaN,1001 to 5000 Employees,Company - Private,$100 to $500 million (USD),Participer à lorganisation des procédures de ...,https://www.glassdoor.com/partner/jobListing.h...,"['documentation', 'business']"
3,valeo,3.6,Test & Validation Engineer Trainee,bobigny,NaN,10000+ Employees,Company - Private,$10+ billion (USD),Select the right algorithms solutions\n Define...,https://www.glassdoor.com/partner/jobListing.h...,"['algorithm', 'software', 'design', 'business'..."
4,trekea sas,3.7,JUNIOR / EXPERIENCED SOFTWARE ENGINEER,NaN,NaN,Unknown,Company - Public,Unknown / Non-Applicable,Become the reference for one or more specific ...,https://www.glassdoor.com/partner/jobListing.h...,"['java', 'kubernetes', 'engineering', 'docker'..."

In [73]:
data_3["skills_list"] = data_3["skills"].str.split(",")

In [74]:
list_skills = data_3["skills_list"].tolist()
list_skills

nouvelle_liste = []
for sous_liste in list_skills:
    nouvelle_liste.extend(sous_liste)

# pd.DataFrame(nouvelle_liste).to_csv("datas/skills_list.csv")

In [75]:
# pd.DataFrame(nouvelle_liste).value_counts().to_csv("datas/skills_list_count.csv")

In [76]:
# remove any '[' or ']' from the skills
data_3["skills"] = data_3["skills"].str.replace("[","")
data_3["skills"] = data_3["skills"].str.replace("]","")

In [77]:
# import ast

# # Liste des skills cibles
# target_skills = ['software']

# # Fonction pour filtrer les lignes
# def filter_skills(row):
#     skills = ast.literal_eval(row['skills'])
#     for skill in skills:
#         if skill in target_skills:
#             return True
#     return False

# # Appliquer le filtre sur le DataFrame
# filtered_df = data_3[data_3.apply(filter_skills, axis=1)]

In [78]:
filtered_df

Empty DataFrame
Columns: [Unnamed: 0, company_offeredRole, size, type, revenue, listing_jobDesc, requested_url, Search_keyword, Company_Rating, Job_Description, Job_Name, Company_Name, Company_RoleLocation, Company_Headquarters, clustering_naif_keywords, Data Scientist, Data Analyst, Data Engineer, Data Science, Consistent_Offer, Job_Description_lemmatized, skills, skills_list, type_poste]
Index: []

[0 rows x 24 columns]

In [79]:
data = data_3.copy()

In [80]:
data.head()

,Unnamed: 0,company_offeredRole,size,type,revenue,listing_jobDesc,requested_url,Search_keyword,Company_Rating,Job_Description,...,Company_Headquarters,clustering_naif_keywords,Data Scientist,Data Analyst,Data Engineer,Data Science,Consistent_Offer,Job_Description_lemmatized,skills,skills_list
0,0,Data Engineer (H/F),10000+ Employees,Company - Public,Unknown / Non-Applicable,\nLaccompagnement de tous par notre organisat...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,4.2,support everyone cooperative mutualist organiz...,...,strasbourg,['Data Engineer'],False,False,True,NaN,True,support everyone cooperative mutualist organiz...,"'nosql', 'server', 'framework', 'scikit learn'...","[['nosql', 'server', 'framework', 'scikit l..."
1,1,DATA ENGINEER F/H,10000+ Employees,Company - Public,Unknown / Non-Applicable,Construction du socle de données ; Alimentatio...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.9,construction database supply preparation data ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,construction database supply preparation proje...,"'monitoring', 'business', 'database', 'shell'","[['monitoring', 'business', 'database', 'sh..."
2,2,Ingénieur Data Gouvernance - F/H,1001 to 5000 Employees,Company - Private,$100 to $500 million (USD),Participer à lorganisation des procédures de ...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.4,participate organization work procedures data ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,participate organization work procedure office...,"'documentation', 'business'","[['documentation', 'business']]"
3,3,Test & Validation Engineer Trainee,10000+ Employees,Company - Private,$10+ billion (USD),Select the right algorithms solutions\n Define...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.6,select right algorithms solutions define test ...,...,NaN,['Data Engineer'],False,False,True,NaN,True,select right algorithm solution define test be...,"'algorithm', 'software', 'design', 'business',...","[['algorithm', 'software', 'design', 'busin..."
4,4,JUNIOR / EXPERIENCED SOFTWARE ENGINEER,Unknown,Company - Public,Unknown / Non-Applicable,Become the reference for one or more specific ...,https://www.glassdoor.com/partner/jobListing.h...,Data Engineer,3.7,become reference one specific modules solution...,...,NaN,['Data Engineer'],False,False,True,NaN,True,become reference one specific module solution ...,"'java', 'kubernetes', 'engineering', 'docker',...","[['java', 'kubernetes', 'engineering', 'doc..."

In [81]:
#assigner au hasard une valeur a data["type_poste"] entre Data Analyst, Data Scientist et Data Engineer
import random
import numpy as np

def random_poste():
    return random.choice(["Data Analyst", "Data Scientist", "Data Engineer"])

data["type_poste"] = np.vectorize(random_poste)()

In [82]:
# from geopy.geocoders import Nominatim
# from geopy.distance import geodesic

# def get_coordinates(city):
#     geolocator = Nominatim(user_agent="distance_calculator")
#     location = geolocator.geocode(city)
#     if location is None:
#         return None
#     return location.latitude, location.longitude

# def calculate_distance(city1, city2):
#     coordinates1 = get_coordinates(city1)
#     coordinates2 = get_coordinates(city2)
    
#     if coordinates1 is None or coordinates2 is None:
#         return "Impossible de trouver les coordonnées de l'une des villes."
    
#     distance = geodesic(coordinates1, coordinates2).kilometers
#     return distance

# # Exemple d'utilisation
# city1 = "Beuzeville-la-bastille"
# city2 = "Auray"

# distance = calculate_distance(city1, city2)
# print(f"La distance entre {city1} et {city2} est d'environ {distance:.2f} kilomètres.")

In [83]:
from haversine import haversine, Unit

def calculate_distance(city1, city2):
    coordinates1 = get_coordinates(city1)
    coordinates2 = get_coordinates(city2)
    
    if coordinates1 is None or coordinates2 is None:
        return 100000
    
    distance = haversine(coordinates1, coordinates2, unit=Unit.KILOMETERS)
    return distance

In [84]:
# remove NA in company_offeredRole and company_roleLocation
data = data.dropna(subset=['company_offeredRole', 'Company_RoleLocation'])

In [85]:
#drop na
data = data.dropna()

In [86]:
data.shape

(10, 24)

In [87]:
# fill les na par des unknown
data = data.fillna("unknown")

In [88]:
data.isna().sum()

Unnamed: 0                    0
company_offeredRole           0
size                          0
type                          0
revenue                       0
listing_jobDesc               0
requested_url                 0
Search_keyword                0
Company_Rating                0
Job_Description               0
Job_Name                      0
Company_Name                  0
Company_RoleLocation          0
Company_Headquarters          0
clustering_naif_keywords      0
Data Scientist                0
Data Analyst                  0
Data Engineer                 0
Data Science                  0
Consistent_Offer              0
Job_Description_lemmatized    0
skills                        0
skills_list                   0
type_poste                    0
dtype: int64

In [89]:
data["size"].value_counts()

size
10000+ Employees          4
1 to 50 Employees         3
1001 to 5000 Employees    2
51 to 200 Employees       1
Name: count, dtype: int64

In [90]:
mapping_size = {
    '10000+ Employees': 'Grande entreprise',
    '1001 to 5000 Employees': 'ETI',
    '1 to 50 Employees': 'startup',
    '201 to 500 Employees': 'PME',
    '501 to 1000 Employees': 'PME',
    '51 to 200 Employees': 'PME',
    'Unknown': 'Unknown',
    '5001 to 10000 Employees': 'Grande entreprise'
}

# Exemple d'utilisation du mapping
entreprise = '1 to 50 Employees'
categorie = mapping_size.get(entreprise, 'Non défini')

print(categorie)

startup

In [91]:
data.shape

(10, 24)

In [92]:
# Filter the dataset based on the specified criteria
filtered_df = data[data.duplicated(subset=['Company_RoleLocation', 'company_offeredRole', 'Company_Name'], keep=False)]

# Print the filtered dataset
filtered_df.shape

(0, 24)

In [93]:
data["company_offeredRole"].value_counts()

company_offeredRole
Alternance - Ingénieur Architecture et Data science H/F - Grenoble    1
Développeur Java Big Data Cloud Confirmé(e)                           1
Product Manager Operation H/F                                         1
Product Manager Revenu H/F                                            1
Stage Data Scientist - Calcul paramétrique (H/F)                      1
Chargé d'études en Datamining / Pilotage d'activité F/H               1
Data Scientist                                                        1
ALTERNANT DATA SCIENTIST                                              1
Data Miner H/F en alternance Marseille                                1
Data Scientist (500 Max) (IT) / Freelance                            1
Name: count, dtype: int64

In [94]:
data["help_drop"] = data["company_offeredRole"] + " " + data["Company_RoleLocation"] + " " + data["Company_Name"]

In [95]:
data["help_drop"].value_counts()

help_drop
Alternance - Ingénieur Architecture et Data science H/F - Grenoble échirolles atos    1
Développeur Java Big Data Cloud Confirmé(e) annecy sopra steria                       1
Product Manager Operation H/F bron dougs                                              1
Product Manager Revenu H/F bron dougs                                                 1
Stage Data Scientist - Calcul paramétrique (H/F) les herbiers briand                  1
Chargé d'études en Datamining / Pilotage d'activité F/H rouen matmut                  1
Data Scientist courbevoie iqvia                                                       1
ALTERNANT DATA SCIENTIST montigny le bretonneux bmw                                   1
Data Miner H/F en alternance Marseille marseille groupe pro direct                    1
Data Scientist (500 Max) (IT) / Freelance nantes hanson regan limited                1
Name: count, dtype: int64

In [96]:
# remove duplicates if company_roleLocation, company_offeredRole and companyName are the same
data = data.drop_duplicates(subset=['help_drop'])

In [97]:
data.shape

(10, 25)

In [98]:
data["company_type"] = data["size"].map(mapping_size)

In [99]:
data.to_csv("datas/FINAL_DATASET.csv", index=False)

In [100]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from geopy.distance import geodesic
import ast


# Fonction pour filtrer les lignes
def filter_skills(row):
    skills = ast.literal_eval(row['skills'])
    for skill in skills:
        if skill in target_skills:
            return True
    return False


df = data.copy()

# Liste des skills cibles
target_skills = ['software']

# Appliquer le filtre sur le DataFrame
# df = df[df.apply(filter_skills, axis=1)]

# Préférences de l'utilisateur
job_type = 'Data Scientist'
ville_preferee = 'Cergy'
enterprise_type = 'Startup'

vectorizer = TfidfVectorizer()
similarity_scores = []

for index, row in df.iterrows():
    job_desc = row['company_offeredRole'] + ' ' + row['company_type']
    user_preferences = job_type + ' ' + enterprise_type
    X = vectorizer.fit_transform([job_desc, user_preferences])
    similarity_score = cosine_similarity(X[0], X[1])[0][0]
    similarity_scores.append(similarity_score)

df['similarity_score'] = similarity_scores


# Attribution des poids aux similarités et à la distance
similarity_weight = 0.5
distance_weight = 0.5

# Création d'une nouvelle colonne pour stocker les scores de similarité
# df['similarity_score'] = similarity_scores.flatten()

# Calcul de la similarité pondérée
df['weighted_similarity'] = df['similarity_score'] * similarity_weight

# trier selon la similarité et garder les 60 meilleurs résultats
df = df.sort_values(by=['weighted_similarity'], ascending=False).head(60)


# Calcul de la distance entre les villes
df['distance_en_km'] = df.apply(lambda row: calculate_distance(row["Company_RoleLocation"], ville_preferee), axis=1)

max_distance = df['distance_en_km'].max()
min_distance = df['distance_en_km'].min()

df['normalized_distance'] = (df['distance_en_km'] - min_distance) / (max_distance - min_distance)


df['weighted_distance'] = df['normalized_distance'] * distance_weight
df['weighted_similarity_distance'] = round(df['weighted_similarity'] - df['weighted_distance'],2)

# Tri des offres d'emploi par similarité pondérée et distance croissantes
sorted_df = df.sort_values(by=['weighted_similarity_distance'], ascending=[False])

# Affichage des résultats
top_results = sorted_df.head(5)  # Vous pouvez ajuster le nombre de résultats à afficher
top_results[['company_offeredRole', 'Company_Name',"size","company_type","Company_RoleLocation", 'distance_en_km','similarity_score','weighted_distance', 'weighted_similarity_distance',"skills"]].head()

NameError: name 'get_coordinates' is not defined

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from geopy.distance import geodesic

# Exemple de dataframe simplifié
df = pd.DataFrame({
    'intitule_poste': ['Développeur web', 'Data analyst', 'Ingénieur logiciel'],
    'ville_du_poste': ['Paris', 'Lyon', 'Marseille'],
    'type_entreprise': ['Start-up', 'Grande entreprise', 'Start-up'],
    'nom_entreprise': ['XYZ Company', 'ABC Corporation', 'XYZ Company'],
    'latitude': [48.8566, 45.75, 43.2965],
    'longitude': [2.3522, 4.85, 5.3698],
    'type_poste': ['CDI', 'CDD', 'CDI']
})

# Préférences de l'utilisateur
ville_preferee = 'Paris'
type_entreprise_prefere = 'Start-up'
type_poste_desire = 'CDI'

# Coordonnées géographiques de la ville choisie par l'utilisateur
user_location = (48.8566, 2.3522)  # Paris (latitude, longitude)

# Calcul de la distance entre les villes
df['distance_en_km'] = df.apply(lambda row: geodesic(user_location, (row['latitude'], row['longitude'])).km, axis=1)

# Calcul de la similarité cosinus
vectorizer = TfidfVectorizer()
job_desc = df['intitule_poste'] + ' ' + df['type_entreprise'] + ' ' + df['type_poste']
user_preferences = ville_preferee + ' ' + type_entreprise_prefere + ' ' + type_poste_desire
X = vectorizer.fit_transform(job_desc.append(pd.Series(user_preferences)))
similarity_scores = cosine_similarity(X[:-1], X[-1])

# Normalisation de la distance
max_distance = df['distance_en_km'].max()
df['normalized_distance'] = 1 - (df['distance_en_km'] / max_distance)

# Attribution des poids aux similarités et à la distance
similarity_weight = 0.8
distance_weight = 0.2

# Création d'une nouvelle colonne pour stocker les scores de similarité
df['similarity_score'] = similarity_scores.flatten()

# Calcul de la similarité pondérée
df['weighted_similarity'] = df['similarity_score'] * similarity_weight
df['weighted_distance'] = df['normalized_distance'] * distance_weight
df['weighted_similarity_distance'] = df['weighted_similarity'] + df['weighted_distance']

# Tri des offres d'emploi par similarité pondérée et distance croissantes
sorted_df = df.sort_values(by=['weighted_similarity_distance', 'distance_en_km'], ascending=[False, True])

# Affichage des résultats
top_results = sorted_df.head(5)  # Vous pouvez ajuster le nombre de résultats à afficher
top_results[['intitule_poste', 'nom_entreprise', 'distance_en_km', 'weighted_similarity_distance']].head()

AttributeError: 'Series' object has no attribute 'append'

In [ ]:
import pandas as pd

df = pd.read_csv('output/output_16-06-2023.csv', encoding_errors='ignore')

In [ ]:
# remove duplicates
df = df.drop_duplicates(subset=['companyName','company_offeredRole','company_roleLocation'])

In [ ]:
df.shape

(51, 10)